python-multipart
python-dotenv
fastapi
uvicorn[standard]
numpy==1.26.4
SimpleITK==2.4.1
joblib==1.4.2
pandas==2.2.3
--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
scipy==1.15.1
timm==1.0.14